USE [master]
GO
/****** Object:  Database [PruebaLibros]    Script Date: 19-Jan-26 10:39:12 AM ******/
CREATE DATABASE [PruebaLibros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaLibros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PruebaLibros.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PruebaLibros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PruebaLibros_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaLibros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaLibros]
GO
/****** Object:  StoredProcedure [dbo].[AutorGetAll]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AutorGetAll]
AS
BEGIN
	SELECT IdAutor, Nombre FROM Autor
END
GO
/****** Object:  StoredProcedure [dbo].[EditorialGetAll]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditorialGetAll]
AS
BEGIN
	SELECT IdEditorial, Nombre FROM Editorial
END
GO
/****** Object:  StoredProcedure [dbo].[LibroAdd]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroAdd]
@Titulo VARCHAR (50),
@IdAutor INT,
@AñoPublicacion INT,
@IdEditorial INT
AS
BEGIN
	INSERT INTO Libro (Titulo, IdAutor, AñoPublicacion, IdEditorial)
	VALUES (@Titulo, @IdAutor, @AñoPublicacion, @IdEditorial)
END
GO
/****** Object:  StoredProcedure [dbo].[LibroDeleteByAutor]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroDeleteByAutor]
@IdAutor INT
AS
BEGIN
	DELETE Libro WHERE IdAutor = @IdAutor
END
GO
/****** Object:  StoredProcedure [dbo].[LibroDeleteByEditorial]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroDeleteByEditorial]
@IdEditorial INT
AS
BEGIN
	DELETE Libro WHERE IdEditorial = @IdEditorial
END
GO
/****** Object:  StoredProcedure [dbo].[LibroGetAll]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroGetAll]
@IdAutor INT,
@IdEditorial INT,
@Titulo VARCHAR (50),
@AñoPublicacion INT
AS
BEGIN
DECLARE @Query NVARCHAR (MAX);
DECLARE @Condicion NVARCHAR (MAX)
DECLARE @ConversionAutor NVARCHAR (20) = CONVERT (NVARCHAR(20), @IdAutor)
DECLARE @ConversionEditorial NVARCHAR (20) = CONVERT (NVARCHAR(20), @IdEditorial)
DECLARE @ConversionAño NVARCHAR (20) = CONVERT (NVARCHAR(20), @AñoPublicacion)

SET @Condicion = ' WHERE Libro.Titulo LIKE ''%'' + @Titulo + ''%'' '

SET @Query = 'SELECT Libro.IdLibro, Libro.Titulo, Autor.Nombre AS Autor, Libro.AñoPublicacion, Editorial.Nombre AS Editorial
	FROM Libro
	INNER JOIN Autor
	ON Libro.IdAutor = Autor.IdAutor
	INNER JOIN Editorial
	ON Libro.IdEditorial = Editorial.IdEditorial'

	IF (@IdAutor = 0 AND @IdEditorial = 0 AND @Titulo LIKE '' AND @AñoPublicacion = 0)
	BEGIN
		Set @Query = @Query + @Condicion
	END
	ELSE IF (@Titulo <> '' AND @IdAutor = 0 AND @IdEditorial = 0 AND @AñoPublicacion = 0)
	BEGIN
		SET @Query = @Query + @Condicion
	END
	ELSE IF (@AñoPublicacion <> 0 AND @IdAutor = 0 AND @IdEditorial = 0 AND @Titulo LIKE '')
	BEGIN
		SET @Query = @Query + @Condicion + 'AND Libro.AñoPublicacion = CONVERT(INT,'+@ConversionAño+')'
	END
	ELSE IF (@IdEditorial <> 0 AND @IdAutor = 0 AND @AñoPublicacion = 0 AND @Titulo LIKE '')
	BEGIN
		SET @Query = @Query + @Condicion + 'AND Libro.IdEditorial = CONVERT(INT,'+@ConversionEditorial+')'
	END
	ELSE IF (@IdAutor <> 0 AND @AñoPublicacion <> 0 AND @IdEditorial = 0 AND @Titulo LIKE '')
	BEGIN
		SET @Query = @Query + @Condicion + 'AND Libro.IdAutor = CONVERT(INT,'+@ConversionAutor+')'
										+ 'AND Libro.AñoPublicacion = CONVERT(INT,'+@ConversionAño+')'
	END
	ELSE IF (@IdAutor <> 0 AND @AñoPublicacion = 0 AND @IdEditorial = 0 AND @Titulo LIKE '')
	BEGIN
		SET @Query = @Query + @Condicion + 'AND Libro.IdAutor = CONVERT(INT,'+@ConversionAutor+')'
	END

	EXEC sp_executesql
        @Query,
        N'@IdAutor INT,
          @IdEditorial INT,
          @Titulo VARCHAR(50),
          @AñoPublicacion INT',
        @IdAutor,
        @IdEditorial,
        @Titulo,
        @AñoPublicacion;
	--PRINT @Query
END
GO
/****** Object:  StoredProcedure [dbo].[LibroGetById]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroGetById]
@IdLibro INT
AS
BEGIN
	SELECT IdLibro, Titulo, Autor.Nombre AS Autor, AñoPublicacion, Editorial.Nombre AS Editorial FROM Libro	
	INNER JOIN Autor
	ON Libro.IdAutor = Autor.IdAutor
	INNER JOIN Editorial
	ON Libro.IdEditorial = Editorial.IdEditorial
	WHERE IdLibro = @IdLibro
END
GO
/****** Object:  StoredProcedure [dbo].[LibroUpdate]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LibroUpdate]
@IdLibro INT,
@Titulo VARCHAR (50),
@IdAutor INT,
@AñoPublicacion INT,
@IdEditorial INT
AS
BEGIN
	UPDATE Libro
	SET Titulo = @Titulo, IdAutor = @IdAutor, AñoPublicacion = @AñoPublicacion, IdEditorial = @IdEditorial
	WHERE IdLibro = @IdLibro
END
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 19-Jan-26 10:39:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[AñoPublicacion] [int] NOT NULL,
	[IdEditorial] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre]) VALUES (1, N'Octavio Paz')
INSERT [dbo].[Autor] ([IdAutor], [Nombre]) VALUES (2, N'Carlos Fuentes')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (1, N'Fondo de Cultura Económica')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (2, N'Editorial Tezontle')
INSERT [dbo].[Editorial] ([IdEditorial], [Nombre]) VALUES (3, N'Seix Barral')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [IdAutor], [AñoPublicacion], [IdEditorial]) VALUES (1, N'El laberinto de la soledad', 1, 1950, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [IdAutor], [AñoPublicacion], [IdEditorial]) VALUES (3, N'Libertad bajo palabra', 1, 1949, 1)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [IdAutor], [AñoPublicacion], [IdEditorial]) VALUES (4, N'¿Águila o sol?', 1, 1951, 1)
SET IDENTITY_INSERT [dbo].[Libro] OFF
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
USE [master]
GO
